/* global styles  */

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'bebas Neue', 'Brush Script MT', cursive;
    font-weight: 400px;
    font-size: 18px;
    line-height: 21.6px;
    letter-spacing: 2px;
    color: #222;
}

/* global styles end */

/* main section styles */
.site-main {
    display: flex;
    flex-grow: 1;
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    background: #fff;   

}

/* hero section styles */

.hero-section {
    width: 100%;
    max-width: 600px;
    background-image: url(./image/left-bg.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: bottom;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.hero-section__content {
    width: 285px;
}

.hero-section__title {
    font-size: 24px;
    color: #fff;
    height: 28.8px;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 24px;
}

.hero-section__link {
    display: inline-flex;
    padding: 12px 24px;
    background-color: #1E90FF;
    color:#fff;
    text-decoration: none;  
}

.hero-section__link:hover {
    background-color: rgba(30, 144, 255, 0.8);
}

.hero-section__link:active {
    background-color: rgba(30, 144, 255, 0.6);
}


.hero-section-link-wraper {
    display: flex; 
 
}

.hero-section-link-wraper::before{
    content: "";
    width: 20px;
    height: 19px;
    background-image: url(./image/Vector.svg);
    margin-right: 12px;
}


.hero-section-link-text {
    font-size: 16px;
    line-height: 24px;

}
/* hero section styles end */

/* section videos style */
.section-videos {
        padding: 54px;
        width: 100%;
        width: 600px;
        font-family: serif;
        margin-bottom: 23px;
}
.section-videos-title {
    text-decoration: none;
    margin-bottom: 24px;
    font-family: 'Bebas Neue';
    font-weight: 400;
    font-size: 24px;
    line-height: 28.8px;
    letter-spacing: 2px;
    
}
.hr {
   bottom: none;
   background-color: #999;
   margin-bottom: 24px;
   width: 100%;
   height: 1px;
}
.section-videos__list {
 margin-bottom: 24px;

}
.section-vides__item {
  display: flex;
}

.section-vides__item:not(:last-child) {
  margin-bottom: 10px;
}
.section-vides__item-img {
    width: 160px;
    height: 90px;
    object-fit: cover;
    border-radius: 4px;

}
.section-videos__item-content {
   padding: 16px 0px 0px 16px;
}
.section-videos__item-title {
    font-family: 'Bebas Neue';
    font-weight: 400;
    font-size: 18px;
    line-height: 21.6px;
    margin-bottom: 4px;

}

.section-videos__link {
    color:#222222;
}

.section-videos__link :hover {
    color: #1E90FF;
}

.section-videos__link :active {
    color: rgba(30, 144, 255, 0.6);
}
.section-videos__item-conrent-footer {
  display: flex;
  align-items: center;
}
.section-videos__item-content-times {
    display: flex;
    align-items: center;
    margin-right: 24px; 
}

.times-icon {
   width: 13px;
   height: 13px;
   object-fit: contain;
   margin-right: 5px;
}

.views-text,
.times-text {
  color: #888;
  font-family: 'Roboto Condensed', Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: normal;

}
.section-videos__item-content-views {
 margin-right: 0;
}

.views-icon {
 width: 14.5px;
 height: 10px;
 margin-right: 4.6px;
}
.views-text {
 color: #666;
}


.button {
 font-family: 'Roboto Condensed', sans-serif;
 padding: 12px;
 width: 100%;
 font-size: 14px;
 line-height: 16.4px;
 color: #fff;
 background-color: #1E90FF;
 border: none;
 cursor: pointer;
}

.button:hover{
    background-color: rgba(30, 144, 255, 0.8);
}

.button:active{
    background-color: rgba(30, 144, 255, 0.6);
}
/* section videos style end*/






/* main section styles end*/

/* font-family: 'Bebas Neue', cursive;
font-family: 'IM Fell English SC', serif;
font-family: 'Roboto Condensed', sans-serif; */






/* retina dispaly media  */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 
    .hero-section {
        background-image: url(./image/left-bg@2x.png);     
    }   

}

/* retina dispaly media end  */